<div ng-controller="AppController" class="mt-4">
    <div class="card" ng-init="formData={}">
        <div class="card-header text-center bg-white">
            Add Algorithms
        </div>
        <div class="card-body">
            <form ng-submit="postForm('/api_seed/add_algorithms', formData)">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="h6" for="algorithm_name">Algorithms Name</label>
                            <input type="text" class="form-control" id="algorithm_name" ng-model="formData.name">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label class="h6" for="short_name">Short Name</label>
                            <input type="text" class="form-control" id="short_name" ng-model="formData.short_name">
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="form-group">
                            <label class="h6" for="algorithm_slug">Algorithms Slug</label>
                            <input type="text" class="form-control" id="algorithm_slug" ng-model="formData.slug">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="" ng-init="types=['regressor','classifier']">
                            <label class="h6" for="algorithm_type">Algorithms Type</label>
                            <ui-select ng-model="formData.type" theme="selectize">

                                <ui-select-match placeholder="Select type...">
                                    [[$select.selected]]
                                </ui-select-match>

                                <ui-select-choices repeat="item in types | filter: $select.search">
                                    [[item]]
                                </ui-select-choices>

                            </ui-select>
                        </div>
                    </div>
                    
                    <div class="col-12 mt-4 text-center">
                        <button ng-disabled="processing" class="btn btn-sm btn-outline-primary">
                            <span ng-if="!processing"> Add </span>
                            <span ng-if="processing">Please Wait.. <i class="fas fa-spinner fa-spin"></i></span>
                        </button>
                        <button ng-click="closeThisDialog()" class="btn btn-sm btn-outline-danger">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>