<!-- Normal input for building model form -->
<div class="row" ng-init="form.formservice.formData=fetchAPIData('/api_seed/algorithms/all')">
    <div class="form-group col-12 mb-5">
        <small><b>Please Upload CSV</b></small>
        <input class="form-control" type="file" id="file1" name="file" multiple
            ng-files="form.formservice.getTheFiles($files)">
        <small class="form-text text-danger">NOTE: Csv contain last must be dependent
            feature and all column should be of float type</small>
    </div>

    <div class="form-group col-12 mb-5">
        <small>
            <b>Select Algorithms</b>
            <span class="text-warning px-2">Default all</span>
        </small>
        <br>
        <div class="row">
            <div class="col-4 mt-2" ng-repeat="item in form.formservice.formData.algorithms">
                <input type="checkbox" class="mx-2" id="[[item.slug]]" ng-model="item.added">
                <label for="[[item.slug]]" style="cursor: pointer;">[[ item.name ]]</label><br>
            </div>
        </div>
    </div>

    <div class="form-group col-6 mb-5">
        <small><b>Cross validation </b></small>
        <input type="number" class="form-control" id="cv" placeholder="default 10"
            ng-init="form.formservice.formData.cv=form.formservice.default_formData.cv"
            ng-model="form.formservice.formData.cv">
    </div>

    <div class="form-group col-6 mb-5">
        <small><b>Scoring</b></small>
        <input type="text" class="form-control" id="scoring" placeholder="default 'neg_mean_squared_error'"
            ng-init="form.formservice.formData.scoring=form.formservice.default_formData.scoring"
            ng-model="form.formservice.formData.scoring">
    </div>

    <div class="form-group col-12 mb-5">
        <div class="row">
            <div class="col-4 mt-2">
                <small><b>Has Categorical features</b></small>
                <br>
                <input type="checkbox" class="mx-2" id="catfeature" ng-model="form.formservice.formData.hasCategorical" ng-change="form.formservice.getAllFeatures('/get/all-feature/index', form.formservice.formData.hasCategorical)">
                <label for="catfeature" style="cursor: pointer;">CSV have Categorical features</label><br>
            </div>

            <div class="col-4 mt-2" ng-if="form.formservice.all_features.length > 0">
                <small><b>Select Categorical features</b></small>
                <br>
                <ui-select multiple ng-model="form.formservice.formData.cat_features" theme="selectize">
                    <ui-select-match placeholder="Select Categorical features...">
                        [[$item]]
                    </ui-select-match>
                    <ui-select-choices repeat="feature in form.formservice.all_features | filter: $select.search">
                        [[feature]]
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-4 mt-2" ng-if="form.formservice.all_features.length > 0">
                <small><b>Select Encoding Technique</b></small>
                <br>
                <ui-select ng-init="form.formservice.formData.encoding_technique='mean_encoding'" ng-model="form.formservice.formData.encoding_technique" theme="selectize">
                    <ui-select-match placeholder="Select Encoding Technique...">
                        [[$select.selected]]
                    </ui-select-match>
                    <ui-select-choices repeat="encoding in form.formservice.encoding_types | filter: $select.search">
                        [[encoding]]
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <div class="form-group col-4 mb-5">
        <small><b>Is Time series</b></small>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id="skip_first" 
                        ng-init="form.formservice.formData.skip_first=form.formservice.default_formData.skip_first"
                        ng-model="form.formservice.formData.skip_first">
                </div>
            </div>
            <input type="text" class="form-control bg-white" value="Skip first Row(for Date)" disabled>
        </div>
    </div>

    <div class="form-group col-4 mb-5">
        <small><b>Correlation</b></small>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id="correlation" 
                        ng-init="form.formservice.formData.correlation=form.formservice.default_formData.correlation"
                        ng-model="form.formservice.formData.correlation">
                </div>
            </div>
            <input type="text" class="form-control bg-white" value="Remove less correlated features" disabled>
        </div>
    </div>

    <div class="form-group col-4 mb-5">
        <small><b>Top Important features</b></small>
        <input type="number" class="form-control" id="top_imp_features" placeholder="default All"
            ng-init="form.formservice.formData.top_imp_features=form.formservice.default_formData.top_imp_features"
            ng-model="form.formservice.formData.top_imp_features">
    </div>

    <div class="form-group col-4 mb-5">
        <small><b>Search Method</b></small>
        <select id="search_type" placeholder="select" class="form-control" name="search_type"
            ng-init="form.formservice.formData.search_type=form.formservice.default_formData.search_type"
            ng-model="form.formservice.formData.search_type">
            <option value="grid">Grid-Search CV</option>
            <option value="rand">Randomized-Search CV</option>
        </select>
    </div>

    <div class="form-group col-4 mb-5">
        <small><b>RSCV iterations</b></small>
        <input type="number" class="form-control" id="n_iter" placeholder="default 100"
            ng-init="form.formservice.formData.n_iter=form.formservice.default_formData.n_iter"
            ng-model="form.formservice.formData.n_iter">
    </div>

    <div class="form-group col-4 mb-5">
        <small><b>RSCV Randon State</b></small>
        <input type="number" class="form-control" id="random_state" placeholder="default None"
            ng-init="form.formservice.formData.random_state=form.formservice.default_formData.random_state"
            ng-model="form.formservice.formData.random_state">
    </div>

</div>