{% extends 'base.html' %}


{% block body %} 

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 dash-title">Artificial Intelligence</h1>
        <p class="lead dash-comment">Beginner level practice projects</p>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-3 mt-4">
                <a href="/aqi">
                    <div class="card w-100">
                        <div class="card-body project-single-card">
                            <p class="p-0 m-0 d-inline">Air Quality Index</p>
                            <span class="float-right"><i class="fa fa-calculator"></i></span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3 mt-4">
                <a href="/cpp">
                    <div class="card w-100">
                        <div class="card-body project-single-card">
                            <p class="p-0 m-0  d-inline">Car Price Prediction</p>
                            <span class="float-right"><i class="fa fa-car"></i></span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3 mt-4">
                <a href="#">
                    <div class="card w-100">
                        <div class="card-body project-single-card">
                            <p class="p-0 m-0  d-inline">Flight Price Prediction</p>
                            <span class="float-right"><i class="fas fa-plane-departure"></i></span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

{% endblock %}